html, body{
  margin: 0;
  padding: 0;
}
body{
  width: 1000px;
  margin: 0px auto;
  background-color: #dedede;
}
header, footer{
  text-align: center
}
header h1{
  font-size: 32px;
  cursor: pointer;
}
hr{
}
footer{
  font-size: 12px;
  margin-bottom: 10px;
}
section{
  padding: 20px 15px;
}
select{
  font-size: 11px;
  background-color: #c3c3c3;
}
#notification-wrapper{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.notification-item{
  width: 90%;
  border-radius: 7px;
  padding: 5%;
  font-size: 14px;
  cursor: pointer;
  margin: 5px 0px;
}
.notification-item-good{
  border: 1px solid #4F8A10;
  color: #4F8A10;
  background-color: #DFF2BF;
}
.notification-item-bad{
  border: 1px solid #D8000C;
  color: #D8000C;
  background-color: #FFBABA;
}
.notification-item-neutral{
  border: 1px solid #9F6000;
  color: #9F6000;
  background-color: #FEEFB3;
}
#songs-list{
  list-style-type: none;
  width: 80%;
  margin: 0px auto;
  padding: 0px;
}
#songs-list>li{
  
}
.clear{
  float: none;
  clear: both;
}
.song-item{
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #d2d2d2;
  padding: 10px;
  display: flex;
  color: #555;
  margin: 10px 0px;
}
.song-item>div{
  flex: auto;
}
.song-thumbnail{
  margin-right: 15px;
  max-width: 120px;
  height: 90px;
  border: 1px solid #aeaeae;
}
.song-thumbnail img{
  width: 120px;
  height: 90px;
}
.song-content{
  margin-right: 10px;
}
.song-title{
  font-size: 18px;
  color: #000;
}
.song-info{
  max-width: 120px;
  min-width: 120px;
}
.song-info a:link {
  color: #999;
}
.song-info a:visited {
  color: #aaa;
}
.song-info a:link, .song-info a:visited {
}
.song-info-field{
  width: 60px;
  display: inline-block;
}
.song-remove-link{
  color: #da8787 !important;
}
.song-audio-player{
  margin-bottom: 10px;
}
.song-audio-player audio{
  width: 98%;
}
